@import url('https://fonts.googleapis.com/css?family=Montserrat');

.post__cart{
    padding: 10px;
}

.post__container {
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    word-wrap: break-word;
}

#post--username{
    color: #E84F13;
}

#post--title{
    font-size: 18px;
}


#comments--icon{
    margin-left: 15px;
    opacity: 0.5;
}

#comments--icon:hover{
    color: #008ef7;
    cursor: pointer;
}

#comments--icon:active{
    position: relative;
    top: 1px;
}

#recycle--icon {
    cursor: pointer;
    opacity: 0.5;
}

#recycle--icon:hover {
    color: #f70010;
}

#recycle--icon:active {
    position: relative;
    top: 1px;
}

#edit--icon{
    margin-top: 15px;
    cursor: pointer;
    opacity: 0.5;
    margin-left: 2px;
}

#edit--icon:hover {
    color: #0091c0;
}

#edit--icon:active {
    position: relative;
    top: 1px;
}
