#delete--header{
    opacity: 0.5;
    background-color: #f70010;
    color: white;
}

#delete--content{
    text-align: left;
    font-size: 20px;
}

#delete--content p{
    font-style: italic;
    text-align: right;
    font-size: 15px;
    color: #E84F13;
}

.post__container{
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
}

.post__container h4{
    margin-left: 10px;
}

.post__container h5{
    color: #E84F13;
    margin-left: 10px;
}


.post__container p{
    margin-left: 10px;
}

#post__success{
    background-color: #2BBBAD;
    color: white;
}

.post__comment__container{
    text-align: left;
}

#comments--icon--modal{
    position: absolute;
    opacity: 0.5;
    padding-left: 2%;
    font-size: 17px;
    padding-bottom: 9%;
    transform: translateY(-50%);
}

#comments--icon--modal:hover{
    color: #008ef7;
    cursor: pointer;
}

#comments--icon--modal:active{
    position: relative;
    top: 1px;
}

#update--button{
    background-color: #2BBBAD;
    color: white;
    position: absolute;
    top: 120%;
    right: 6px;
    transform: translateY(-50%);
}

#update--message{
    position: absolute;
    top: 68%;
    transform: translateY(-50%);
    font-size: 12px;
}