.comments__form{
    margin-bottom: 10%;
}

#comment__button{
    background-color: #33B5E5;
    color: white;
    padding: 13px;
    position: absolute;
    right: 0;
    margin-top: 14px;
    transform: translateY(-50%);
    font-size: 13px;
}

#comment__message{
    padding: 13px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 25px;
    transform: translateY(-50%);
    font-size: 13px;
}

#comment--delete{
    display: inline-block;
}

#trashIcon {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    opacity: 0.5
}

#trashIcon:hover {
    color: #f70010;
}