.Post__container{
    margin-top: 4%;
    margin-bottom: 2%;
}

.profileBox {
    float: left;
    display: inline-block;
    margin-bottom: 10px;
}

#avatarBox{
    width: 3em;
    height: 3em;
    margin-right: 10px;
}

#avatarBox img{
    width: 3em;
    height: 3em;
}

#nameBox {
    margin-top: 2px;
    font-size: 20px;
    display: inline-block;
}

#explore__button{
    font-size: 12px;
    position: absolute;
    top: 8%;
    right: 1%;
    transform: translateY(-50%);
}

#post__container {
    margin-top: 1%;
    margin-bottom: 30px;
}

#post__button {
    position: absolute;
    top: 110%;
    right: 0;
    transform: translateY(-50%);
}